<template>
  <v-app id="inspire">
    <v-container class="fill-height">
      <v-row class="mb-6 ma-0 pa-0" no-gutters>
        <v-col sm="12">
          <v-row class="mb-6 ma-0 pa-0" no-gutters>
            <v-col sm="12">
              <UserSearch />
            </v-col>
          </v-row>
        </v-col>
        <v-col sm="4">
          <ConversationList @conversationChanged="onConversationChange" />
        </v-col>
        <v-col sm="8">
          <MessageBox :conversation="conversation" />
          <MessageInput :conversation="conversation" />
        </v-col>
      </v-row>
      <Notifier :text="message" :color="messageColor" />
    </v-container>
  </v-app>
</template>

<script>
import ConversationList from "./components/ConversationList";
import UserSearch from "./components/UserSearch";
import MessageBox from "./components/MessageBox";
import MessageInput from "./components/MessageInput";
import Notifier from "./components/Notifier";
import { store } from "./store";
import Requester from "./requester";

export default {
  name: "App",

  components: {
    ConversationList,
    MessageBox,
    MessageInput,
    UserSearch,
    Notifier
  },

  data: () => ({
    conversation: null,
    message: "",
    messageColor: "success"
  }),
  created() {
    this.loadUserInfo();
    this.connectWS();
  },
  methods: {
    connectWS() {
      this.$options.sockets.onmessage = message => {
        let data = JSON.parse(message.data);

        // Don't work if messages are the same
        if (data.type === "chat.error") {
          this.messageColor = "error";
          this.message = data.body.message;
        } else if (data.type === "chat.typing.start") {
          this.messageColor = "success";
          this.message = "Typing start";
        } else if (data.type === "chat.typing.stop") {
          this.messageColor = "success";
          this.message = "Typing stop";
        }
      };
    },

    loadUserInfo() {
      let requester = new Requester();
      requester
        .userInfo()
        .then(response => {
          store.updateUserInfo(response.data.data);
        })
        .catch(error => {
          if (error.response.status === 403) {
            alert("Authorize to continue");
          }
        });
    },
    onConversationChange(conversation) {
      this.conversation = conversation;
    }
  }
};
</script>
