<template>
  <div id="message-box" ref="component" class="message-container" @wheel="scroll">
    <message v-for="message in this.messages" :message="message" :key="message.id"></message>
  </div>
</template>

<script>
import Requester from "../requester.js";
import Message from "./Message";
import _ from "lodash";

export default {
  components: {
    Message
  },
  props: {
    conversation: Object
  },
  data() {
    return {
      messages: [],
      isLoading: false,
      nextPage: null
    };
  },
  watch: {
    conversation(newVal) {
      this.clear();

      if (newVal) {
        this.fetchConversationMessages(newVal, true);
      }
    }
  },
  created() {
    if (this.conversation) {
      this.fetchConversationMessages(this.conversation);
    }

    this.$options.sockets.onmessage = message => {
      let data = JSON.parse(message.data);

      if (data.type === "chat.message.created") {
        this.pushMessage(data.body);
        this.sendMessageReceived(data.body)
      }
    };
  },
  destroyed() {},
  computed: {
    cursor() {
      if (!this.nextPage) {
        return "";
      }
      let searchParams = new URLSearchParams(this.nextPage.split("?")[1]);

      return searchParams.get("cursor");
    }
  },
  mounted() {},
  methods: {
    clear() {
      this.messages = [];
      this.nextPage = null;
    },
    fetchConversationMessages(conversation) {
      this.isLoading = true;
      let requester = new Requester();

      if (!conversation || (!this.cursor && this.messages.length)) {
        return;
      }

      requester
        .conversationMessages(conversation.id, this.cursor)
        .then(response => {
          if (!this.messages.length) {
            this.messages = response.data.data.items.reverse();
          } else {
            this.messages.unshift(...response.data.data.items.reverse());
          }
          this.nextPage = response.data.data.pagination.next;
          this.isLoading = false;
        });
    },
    pushMessage(message) {
      this.messages.push(message);
    },
    sendMessageReceived(message) {
      this.$socket.sendObj({
        type: "chat.message.received",
        createdAt: new Date().toISOString(),
        body: {
          conversationId: this.conversation.id,
          messageId: message.id
        }
      });
    },
    scroll: _.throttle(function() {
      if (
        document.getElementById("message-box").scrollTop === 0 &&
        !this.isLoading
      ) {
        this.fetchConversationMessages(this.conversation);
      }
    }, 5000)
  }
};
</script>

<style scoped>
.message-container {
  max-height: 300px;
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
}
</style>
