<template>
  <v-row :class="isAuthor() ? 'text-right' : 'text-left'" class="ma-1">
    <v-col>
      <v-badge :color="messageColor">
        <v-chip :color="isAuthor() ? 'green' : 'secondary'" >
          <span class="mr-2">{{chatMessage.body.content}}</span>
          <span class="text--secondary">{{prettyDate}}</span>
        </v-chip>
      </v-badge>
    </v-col>
  </v-row>
</template>

<script>
import { store } from "../store"

export default {
  props: {
    message: Object
  },
  data: function() {
    return {
      chatMessage: this.message,
      store: store
    };
  },
  watch: {
  },
  created() {
    if (this.userMessageStatus === 'received' || this.userMessageStatus === 'created') {
      this.sendMessageRead(this.message)
    }
  },
  computed: {
    prettyDate() {
      let date = new Date(this.chatMessage.createdAt)

      return `${date.getMonth()+1}-${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`
    },
    userMessageStatus() {
      let message_status = this.message.statuses.filter((item) => {
        return item.userId === this.store.userInfo.id
      })
      return message_status[0].status
    },
    status() {
      let message_status = this.chatMessage.statuses.filter((item) => {
        return item.userId !== this.store.userInfo.id
      })
      return message_status[0].status
    },
    messageColor() {
      switch (this.status) {
        case 'created': return 'red';
        case 'read': return 'green';
        case 'received': return 'yellow';
        default: return ""
      }
    }
  },
  methods: {
    isAuthor() {
      return this.chatMessage.authorId === this.store.userInfo.id
    },
    sendMessageRead(message) {
      this.$socket.sendObj({
        type: "chat.message.read",
        createdAt: new Date().toISOString(),
        body: {
          conversationId: this.message.conversationId,
          messageId: message.id
        }
      });
    },
  }
};
</script>

<style scoped>
</style>
